@import 	"../properties";


@include keyframes(intro) {
    0% {
        width: 100%;
    }
    50% {
        width: 200%;
    }
    100% {
        width: 100%;
    }
}

@mixin intro($count: $countDefault, $duration: $durationDefault, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(intro);
	@include count($count);
	@include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}
