.about {
    position: relative;
    background: $dark;
    padding-top: 13rem;
    padding-bottom: 22rem;
    z-index: 2;
    overflow: hidden;

    &__image-wrapper {
        position: relative;

    }

    &__image-blocks,
    &__image-head, {
        background: {
            size: contain;
            repeat: no-repeat;
            position: center;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image-blocks {
        background-image: url('img/block-grid-small.png');
        z-index: 2;
        width: 65%;
        height: 65%;
        left: 20%;
        top: 20%;
    }

    &__image-head {
        background-image: url('img/head.png');
        z-index: 1;
    }

    &__content-wrapper {
        margin-left: calc(8.33% * 2);
    }

    &__title,
    &__text {
        color: $white;
    }

    &__title {
        font-size: 4.8rem;
        margin-bottom: 4.5rem;
        &--small {
            display: none;
        }
    }

    &__text {
        font-size: 2.4rem;
        line-height: 3.6rem;
    }
}

@media screen and (max-width: $media-lg) {
    .about {
        padding: 13rem 2rem 22rem 2rem;
    }
}

@media screen and (max-width: $media-sm) {
    .about {

        &__image-wrapper {
            height: 40rem;
            margin-bottom: 10rem;
        }

        &__content-wrapper {
            margin-left: 0;
        }

        &__title {
            display: none;

            &--small {
                display: block;
                text-align: center;
            }
        }
        
    }
}