.contact {
    position: relative;
    background: $dark;
    padding-top: 8rem;
    padding-bottom: 6rem;
    &__title {
        color: $white;
        margin-bottom: 5rem;
    }
    &__description {
        color: $white;
        margin-bottom: 5rem;
    }
    &__input {
        margin-bottom: 3rem;
        padding: 1rem;
        &--firstname,
        &--lastname,
        &--mail {
            margin-bottom: 1rem;
        }
        &--message {
            width: 100%;
            min-width: 100%;
            min-height: 30rem;
            max-height: 30rem;
            padding: 1rem;
            max-width: 120rem;
        }
    }
    &__submit,
    input[type="submit"] {
        padding: 1rem 4rem;
        font-family: $basefont;
        background: $brandcolor;
        border: none;
        font-size: 2.4rem;
        transition: background 250ms $authenticMotion;
        cursor: pointer;
        &:hover {
            background: darken($brandcolor, 10%);
        }
    }
}

@media screen and (max-width: $media-lg) {
    .contact {
        padding: 8rem 2rem 6rem 2rem;
        &__block-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
    }
}