.folio {
    position: relative;

    &__title-wrapper {
        background: $dark;
    }

    &__title {
        color: $white;
        padding: 2.5rem 0;
    }

    &__block {
        height: 50rem;
        position: relative;
        overflow: hidden;
    }

    &__link {
        background: $light;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($dark, .1);
            transition: background 250ms $authenticMotion;
        }

        &:hover {

            &:after {
                background: rgba($dark, .5);
            }

            .folio {
                &__project-title {
                    opacity: 1;
                }

                &__image {
                    transform: translate(-50%, -50%) scale(1.05);
                }
            }
        }
    }
    
    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 100%;
        height: 100%;
        transition: transform 250ms $authenticMotion;
        background: {
            position: center;
            size: cover;
            repeat: no-repeat;
        }
    }

    &__project-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        text-align: center;
        opacity: 0;
        transition: opacity 250ms $authenticMotion;
        color: $white;
        z-index: 2;
    }
}

@media screen and (max-width: $media-lg) {
    .folio {

        &__title-wrapper {
            padding: 0 2rem;
        }
    }
}

@media screen and (max-width: $media-sm) {
    .folio {

        &__link {

            &--active {
                &:after {
                    background: rgba($dark, .5);
                }
                
                .folio {
                    &__project-title {
                        opacity: 1;
                    }
                    
                    &__image {
                        transform: translate(-50%, -50%) scale(1.05);
                    }
                }   
            }
        }
    }
}