.modal {
    $self: &;
    position: fixed;
    z-index: -20;
    opacity: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    &--active {
        z-index: 30;
        pointer-events: all;
        animation: {
            name: fadeInUp;
            duration: 1000ms;
            fill-mode: forwards;
        }
        opacity: 1;
    }
    &__inner {
        -webkit-overflow-scrolling: touch;
        position: relative;
        width: 75%;
        background: $white;
        height: 75%;
        opacity: 0;
        transition: {
            property: opacity;
            duration: 1000ms;
            timing-function: $authenticMotion;
        }
        transform:translateY(20%);
        overflow-y: scroll;
        top: 15%;
        left: 10%;
        right: 10%;
        #{$self}--active & {
            z-index: 50;
            pointer-events: all;
            transform: translateY(0%);
            opacity: 1;
        }
    }
    &__close {
        position: absolute;
        width: 5rem;
        height: 5rem;
        right: 10%;
        top: 10%;
        border-radius: 100%;
        background: $white;
        cursor: pointer;
        z-index: 55;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 50%;
            height: .2rem;
            background: $black;
            top: 50%;
            left: 25%;
        }
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }
    &__intro {
        padding: 10rem 15rem;
    }
    &__strong {
        font-weight: 800;
    }
    &__images {
        background: $slight-grey;
        padding-top: 15rem;
    }
    &__img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        margin: 10rem 0;
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        &--small,
        &--halfwidth {
            display: block;
            left: 0;
            transform: translateX(50%);
            float: left;
            width: 25%;
            margin: 10rem 5rem;
            &:nth-of-type(odd) {
                left: 10%;
                right: auto;
                transform: none;
            }
            &:nth-of-type(even) {
                left: auto;
                right: 10%;
                transform: none;
                float: right;
            }
        }
        &--fullwidth {
            width: 100%;
        }
        &--shadow {
            box-shadow: 1rem 1rem 3rem rgba($black, 0.7)
        }
    }
    &--second {
        top: 10%;
        .model {
            &__intro {
                padding: 7rem 10rem 2rem;
            }
            &__carousel-wrapper {
                position: relative;
                max-height: 45rem;
                overflow: hidden;
            }
            &__carousel-slider {
                overflow: hidden;
                max-height: 40rem;
            }
            &__carousel-nav {
                position: absolute;
                top: 50%;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
                &--left {
                    left: 0;
                    transform: translate(50%, 50%);
                }
                &--right {
                    right: 0;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    @media screen and (max-width: $media-md) {
        &__intro {
            padding: 5rem 4rem;
        }
        &__img {
            left: 0;
            transform: none;
            width: 90%;
            margin: 10rem auto;
            &--small,
            &--halfwidth {
                transform: none;
                width: 25%;
            }
            &--fullwidth {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: $media-xs) {
        &__img {
            &--halfwidth,
            &--halfwidth:nth-of-type(odd),
            &--halfwidth:nth-of-type(even) {
                width: 90%;
                left: auto;
                right: auto;
                margin: 10rem auto;
                float: none;
            }
            &--fullwidth {
                width: 100%;
            }
        }
    }
}