.partners {
    padding-top: 14rem;
    padding-bottom: 13.5rem;

    &__wrapper {
        justify-content: space-evenly;
    }

    &__title {
        margin-bottom: 8rem;
    }

    &__block-wrapper {
        margin: 0 3rem;
        margin-bottom: 6rem;
    }

    &__logo {
        height: 14rem;
        background: {
            size: contain;
            position: center;
            repeat: no-repeat;
        }
    }
}

@media screen and (max-width: $media-lg) {
    .partners {
        padding: 14rem 2rem 13.5rem 2rem;
    }
}

@media screen and (max-width: $media-lg) {
    .partners {
        &__block-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
    }
}