.process {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 24rem;

    &__content-wrapper {

        &--visual {
            margin-left: 8.33%;
        }
        
    }

    &__text-wrapper {
        
    }

    &__title {
        margin-bottom: 4.5rem;
    }

    &__text {
        margin-bottom: 4.5rem;
        line-height: 3.3rem;
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__strong {
        font-weight: 600;
    }

    &__visual {
        height: 42rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 9.3rem;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            height: 100%;
            transform: translate(-50%, -50%);
            background: {
                image: url('img/block-grid-small.png');
                size: contain;
                position: 50% 50%;
                repeat: no-repeat;
            }
            z-index: -1;
        }
    }

    &__visual-title {
        &--first,
        &--second {
            position: relative;
        }

        &--first {
            text-align: left;
            margin-left: calc(8.33% * 2);
        }

        &--second {
            text-align: center;
        }

        &--third {
            text-align: right;
            margin-right: calc(8.33% * 2);
        }
    }

    &__visual-title-inner {
        font-size: 4.8rem;
        letter-spacing: .2rem;
    }

    &__visual-arrow {
        background: {
            image: url('img/arrow.png');
            repeat: no-repeat;
            size: contain;
            position: center;
        }
        width: 100%;
        height: 8rem;

        &--first {
            background-position: 35% 50%;
        }

        &--second {
            background-position: 65% 50%;
        }
    }
}

@media screen and (max-width: $media-lg) {
    .process {
        padding: 12rem 2rem 24rem 2rem;
    }
}

@media screen and (max-width: $media-sm) {
    .process {
        &__content-wrapper {
            &--visual {
                margin-left: 0;
            }
        } 
    }
}