::selection {
    background: $dark;
    color: $brandcolor;
}

*,
*:after,
*:before {
    box-sizing: content-box;
}

*:focus {
    outline: none; // remove outline from all focused elements
}

html {
    // Set the base font size for rem sizes
    font-size: 62.5%; // Add cross-browser antialiasing
    font-smoothing: antialiased; // sass-lint:disable-line no-misspelled-properties
    width: 100%; // Other base styling
    text-rendering: auto;
    text-size-adjust: 100%;
    position: relative;
    height: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;
    &.customize-support {
        margin-top: 3rem;
        .navigation {
            top: 3rem;
        }
    }
    &.no-scroll {
        overflow-y: hidden;
    }
}

main {
    // padding-top: 4rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
cite,
del,
dfn,
em,
font,
q,
s,
samp,
strike,
strong,
ol,
ul,
li,
fieldset,
form,
label,
legend,
tbody,
tfoot,
thead,
tr {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    position: relative;
    background: $white;
    box-sizing: border-box;
    margin: 0;
    &:after {
        transition: background 500ms $authenticMotion;
    }
    &.scroll-lock {
        overflow: hidden;
        height: 100%;
        &:after {
            z-index: 21;
            background: rgba($dark, .5);
        }
    }
}

main {}

div {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

@for $i from 0 through 10 {
    .fadeInLeft--delay-#{$i} {
        animation-delay: #{$i}s;
    }
    .fadeInRight--delay-#{$i} {
        animation-delay: #{$i}s;
    }
    .fadeInUp--delay-#{$i} {
        animation-delay: #{$i}s;
    }
    .fadeInDown--delay-#{$i} {
        animation-delay: #{$i}s;
    }
}

.fadeInLeft,
.fadeInRight,
.fadeInUp,
.fadeInDown,
.fadeInLeftBig,
.fadeInRightBig,
.fadeInUpBig,
.fadeInDownBig,
.fadeIn {
    opacity: 0;
    &--animate {
        animation: {
            duration: 1s;
            fill-mode: forwards;
        }
    }
}

.fadeIn {
    &--animate {
        animation: {
            name: fadeIn;
        }
    }
}

.fadeInLeft {
    &--animate {
        animation: {
            name: fadeInLeft;
        }
    }
}

.fadeInRight {
    &--animate {
        animation: {
            name: fadeInRight;
        }
    }
}

.fadeInUp {
    &--animate {
        animation: {
            name: fadeInUp;
        }
    }
}

.fadeInUpBig {
    &--animate {
        animation: {
            name: fadeInUpBig;
        }
    }
}

.fadeInDown {
    &--animate {
        animation: {
            name: fadeInDown;
        }
    }
}

.col-center {
    text-align: center;
}