.button {
    position: relative;

    &__wrapper {
        width: 20rem;
        padding: 4rem 1rem;
        text-align: center;
        clip-path: polygon(85% 0%, 0% 0%, 0% 100%, 100% 100%, 100% 50%);
        cursor: pointer;
        background: $light;
        left: 100%;
        position: relative;
        transform: translate(-100%, 100%);
        top: 0;
        right: 0;
        transition: 750ms transform $kbnatransition;
        
        &:after {
            content: '';
            position: absolute;
            bottom: 75%;
            left: 95%;
            width: 5rem;
            height: 5rem;
            background: gray;
            z-index: 4;
            transform: translate(0%, 0%);
            transition: 750ms transform $kbnatransition;
        }
        
        &:hover {
            transform: translate(-98%, 98%);
            
            &:after {
                transform: translate(-40%,35%);
            }
        }
        
        a {
            text-decoration: none;
            color: #020032;
            font-weight: 700;
            font-size: 2rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    &--center {
        .button {

            &__wrapper {
                left: 50%;
                transform: translate(-50%,100%);

                &:hover {
                    transform: translate(-48%,98%);
                }
            }
        }
    }
}