.visual-cue {
    position: relative;
    
    &__element {
        position: absolute;
        width: 7rem;
        height: 7rem;
        background: $light;
        border-radius: 50%;
        bottom: 0;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }
    }

    &__anchor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 40%;
            height: 40%;
            background: {
                image: url('img/arrow-double-down.svg');
                repeat: no-repeat;
                position: center center;
                size: contain;
            }
            transform: translate(-50%, -50%);
        }
    }
}