@font-face {
    font-family: 'Futura';
    src: url("font/FuturaStd-Book.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url("font/FuturaStd-Bold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url("font/FuturaStd-BookOblique.otf");
    font-weight: 400;
    font-style: italic;
}

$basefont: "Futura",
sans-serif;
$headerfont: "Futura",
sans-serif;
body,
p,
span,
div,
input,
textarea {
    font-family: $basefont;
    font-size: 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerfont;
    line-height: 1;
    font-weight: 900;
}

h1 {
    font-size: 9rem;
    @media screen and (max-width: $media-md) {
        font-size: 6rem;
    }
    @media screen and (max-width: $media-sm) {
        font-size: 4rem;
    }
    @media screen and (max-width: $extrasmall) {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
}

h2 {
    font-size: 4.8rem;
    letter-spacing: .2rem;
    @media screen and (max-width: $media-md) {
        font-size: 5rem;
    }
    @media screen and (max-width: $media-sm) {
        font-size: 4rem;
    }
    @media screen and (max-width: $media-xs) {
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
}

h3 {
    font-size: 5rem;
    font-weight: 500;
    @media screen and (max-width: $media-md) {
        font-size: 3rem;
    }
    @media screen and (max-width: $media-sm) {
        font-size: 2rem;
    }
    @media screen and (max-width: $media-xs) {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }
}

h4 {
    font-size: 3.6rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 1.6rem;
}