.footer {
	position: relative;
	// box-shadow: .1rem .1rem 1rem rgba($black, .5);
	background: $dark;
	color: $white;
	padding: 1rem 0;
	padding-top: 5rem;

	&__list-item {
		text-align: right;
		line-height: 2rem;

		&--copyright {
			text-align: left;
			font-size: 1rem;
			padding: 1rem 0;

		}
	}

	&__text {
		color: $primary;
		font-size: 1rem;
		position: relative;
		font-size: 1.4rem;
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		list-style-type: none;
		padding: 0;
		
		.menu-item {
			padding: 1rem 0;
			
			a {
				text-align: right;
				text-decoration: none;
			}
		}
	}

	&__list-item {
		display: block;
		position: relative;
	}

	&__link {
		text-decoration: none;
		color: $white;
		text-transform: lowercase;
		font-size: 1rem;

		span {
			font-size: 1.6rem;
		}
	}

	&__copyright {
		font-size: 1.6rem;
	}
}
