.header {
	position: relative;
	margin-top: 22rem;

	&__blocks-wrapper {
		height: 70%;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: {
			image: url('img/blocks-bg-spaced.png');
			repeat: repeat;
			position: calc(50% - 4rem) calc(50% - 0rem);
			size: 100%;
		}
	}

	&__block {
		height: 9rem;
		background: {
			image: url('img/single-block.png');
			size: 2.3rem;
			repeat: no-repeat;
			position: 0.5rem 0rem;
		}
	}

	&__inner {
		padding-top: 27.2rem;
		padding-bottom: 20rem;
		padding-left: 0;
	}

	&__title,
	&__highlighted {
		font-size: 8.2rem;
		color: $black;
		line-height: 9.7rem;
		position: relative;
		z-index: 1;
	}

	&__highlighted {

		&:after {
			content: '';
			background: #00ffb6;
			position: absolute;
			top: 50%;
			left: 0;
			width: 0%;
			height: calc(100% - 1.5rem);
			z-index: -1;
			transform: translate(0%, -40%);
			transition: width 1s $easeInOutEthos 1s;
		}

		&--show {
			&:after {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: $media-lg) {
	.header {
		padding: 0 2rem;
	}
}

@media screen and (max-width: $media-sm) {
	.header {
		margin-top: 0;

		&__inner {
			padding-top: 15rem;
			padding-bottom: 10rem;
		}

		&__blocks-wrapper {
			height: 80%;
			top: 60%;
		}

		&__title,
		&__highlighted {
			font-size: 6rem;
		}
	}
}


@media screen and (max-width: $media-xs) {
	.header {

		&__title,
		&__highlighted {
			font-size: 5rem;
			line-height: 1.5;
		}
	}
}