@mixin fontloop($name, $weights, $styles) {
	@each $weight in $weights {
		@font-face {
			font-family: $name;
			src: url("font/#{$name}-#{$weight}-normal.ttf");
			font-weight: $weight;
			font-style: normal;
		}
		
		@font-face {
			font-family: $name;
			src: url("font/#{$name}-#{$weight}-italic.ttf");
			font-weight: $weight;
			font-style: italic;
		}
	}
}

$extrasmall: 320px;
$small: 768px;
$medium: 1024px;
$large: 1280px;

@mixin mobile {
	@media (max-width: #{$extrasmall}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$small}) and (max-width: #{$medium - 1em}) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$large}) {
		@content;
	}
}

@mixin widescreen {
	@media (max-width: #{$large}) {
		@content;
	}
}

$class-slug: delay !default;

// @mixin transitionDelay() {
@for $i from 0 through 1000 {
	.#{$class-slug}-#{$i} {
		transition-delay: #{$i}ms; 
		animation-delay: #{$i}ms;
	}
}
	// }
