.navigation {
    position: fixed;
    height: 22rem;
    width: 100%;
    z-index: 20;
    background: $white;
    top: 0;
    padding-bottom: 1rem;
    transition: height 250ms $authenticMotion, box-shadow 250ms $authenticMotion 200ms;
    ul {
        list-style-type: none;
    }
    &__list {
        justify-content: space-between;
        margin-top: 6.5rem;
        transition: margin-top 250ms $authenticMotion;
    }
    &__logo {
        img {
            max-height: 15rem;
            transition: max-height 250ms $authenticMotion;
        }
    }
    &__sublist {
        justify-content: space-evenly;
        align-items: flex-end;
        height: 100%;
        li {
            a {
                text-decoration: none;
            }
        }
    }
    &__list-item:not(.navigation__list-item--logo) {
        font-size: 3rem;
        font-weight: 600;
        text-transform: lowercase;
        position: relative;
        padding: 2rem 0;
    }
    &__link {
        text-decoration: none;
        color: $black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: right;
    }
    &__link-inner {
        color: $black;
        font-size: 3rem;
        font-weight: 600;
        transition: color 250ms $authenticMotion;
        &:hover {
            color: $brandcolor;
        }
    }
    &--small {
        height: 10rem;
        box-shadow: 0rem 0rem 2rem rgba($dark, .2);
        .navigation {
            &__list {
                margin-top: 2rem;
            }
            &__logo {
                img {
                    max-height: 7rem;
                }
            }
        }
    }
    &__logo-image {
        &--visual {
            display: none;
        }
    }
}

@media screen and (max-width: $media-lg) {
    .navigation {
        &__list {
            padding: 0 2rem;
        }
    }
}

@media screen and (max-width: $media-sm) {
    .navigation {
        height: 10rem;
        box-shadow: none;
        background: transparent;
        &__list {
            margin: 2rem 2rem 0rem 2rem;
            padding: 0;
        }
        &__list-item {
            margin-bottom: 4rem;
        }
        &__logo {
            img {
                max-height: 7rem;
            }
        }
        &__logo-image {
            display: none;
            &--visual {
                display: block;
            }
        }
        &__sublist {
            display: block;
            height: 100vh;
            position: fixed;
            width: 30vw;
            right: 0;
            top: 0;
            background: white;
            z-index: 10;
            padding: 10rem 3rem 2rem 2rem;
            flex-direction: column;
            transform: translateX(100%);
            transition: transform 250ms $authenticMotion;
        }
        &__hamburger {
            position: fixed;
            top: 2rem;
            right: 2rem;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
            z-index: 15;
            .bar {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
                height: .4rem;
                background: black;
                border-radius: 2.5rem;
                transition: background 250ms $authenticMotion;
                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    background: black;
                    border-radius: 2.5rem;
                    height: .4rem;
                    transition: {
                        property: width, transform, right, top, bottom, background-color;
                        timing-function: $authenticMotion;
                        duration: 250ms;
                    }
                    transform: rotate(0deg) translateY(0%);
                    right: 0;
                }
                &:before {
                    top: -1rem;
                }
                &:after {
                    bottom: -1rem;
                }
            }
        }
        &--shut {
            .navigation {
                &__hamburger {
                    .bar {
                        &:before {
                            top: 0;
                        }
                        &:after {
                            bottom: 0;
                        }
                    }
                }
            }
        }
        &--open {
            .navigation {
                &__sublist {
                    transform: translateX(0%);
                }
                &__hamburger {
                    .bar {
                        background: transparent;
                        &:before {
                            transform: rotate(45deg) translate(0%, 0%);
                            width: 100%;
                            right: 0;
                            opacity: 1;
                            top: 0;
                        }
                        &:after {
                            transform: rotate(-45deg) translate(0%, 0%);
                            width: 100%;
                            right: 0;
                            opacity: 1;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $media-xxs) {
    .navigation {
        &__sublist {
            width: 50%;
        }
    }
}

body {
    &:after {
        transition: background 250ms $authenticMotion;
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($dark, .0);
        z-index: -5;
    }
    &.nav-open {
        &:after {
            background: rgba($dark, .25);
            z-index: 2;
        }
    }
}